.albums-container {
    opacity: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album-container {
    width: 500px;
    /* border: solid .8px rgb(255, 255, 255); */
    box-shadow: 0 2px 4px 0 rgb(255, 248, 224), 0 6px 20px 0 rgba(255, 255, 255, 0.705);
    background-color: rgb(241, 152, 50);
    margin: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.album-image {
    width: 100%;
    height: 500px;
    border-bottom: solid 1.5px rgb(131, 131, 131);
}

.album-date {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    font-size: 30px;
}

.tracks-container {
    opacity: 0.9;
    width: 500px;
    height: 720px;
    position: absolute;
    background-color: rgb(116, 21, 21);
    max-height: 700px;
    overflow-y: auto;
    overflow-x: auto;
    border: solid 1px rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tracks-list {
    opacity: 1;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: solid .5px black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold
}

.tracks-list:hover {
    opacity: 0.7;
}

.track {
    opacity: 0.8;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin-left: 23%;
}

.track:hover {
    opacity: 0.6;
}

#x {
    position: relative;
    float: right;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    top: -10px;
    right: -10px;
}