@import './base.css';
@import './settings.css';
@import './albums.css';
@import './tracks.css';
@import './search.css';
@import './header.css';
.App {
    padding-top: 30px;
    text-align: center;
    background-color: rgb(255, 94, 0);
    width: 100%;
}

button {
    margin: 10px;
}

.artist {
    width: 500px;
    height: 700px;
    box-shadow: 0 2px 4px 0 rgb(255, 248, 224), 0 6px 20px 0 rgba(255, 255, 255, 0.705);
    background-color: rgb(241, 152, 50);
    margin: 10px;
}

.artist-image {
    width: 100%;
    min-width: 100%;
    height: 500px;
    min-height: 500px;
}

.artists {
    opacity: 1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.artist:hover {
    opacity: 0.7
}

.artist-label {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
}

.artist-gen-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.artist-gen {
    /* position: relative; */
    text-align: center;
    vertical-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 5px;
}

.artist-rating {
    margin-left: 35%
    /* margin: 0 120px 15px; */
}

.sp-button-container {
    display: flex;
    align-self: center;
    width: 100%;
    height: 90px;
    justify-content: space-around;
}

.sp-button {
    opacity: 1;
    display: flex;
    /* position: relative; */
    background: #ffffff;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 20%;
    border-radius: 15px;
    height: 40%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sp-button:hover {
    opacity: 0.7;
}

.sp-text {
    color: white !important;
}