.header-label {
    color: rgb(255, 94, 0);
    font-size: 25px;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 2px rgb(165, 40, 40);
    font-size: 27px;
    /* font-weight: bold; */
    /* box-shadow: 0 2px 4px 0 rgba(73, 250, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.logo-container {
    display: flex;
    padding: 10px;
    margin-left: 30px;
    height: 20%;
    text-align: center;
    flex-grow: 4;
}

.logo {
    width: 100px;
    height: 100px;
}

.header-box-container {
    margin-top: 45px;
    margin-right: 15px;
}