.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-box-container {
    background-image: url('http://localhost:3000/assets/background.jpg');
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 20px;
    height: 500px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgb(255, 248, 224), 0 6px 20px 0 rgba(255, 255, 255, 0.705);
    margin-bottom: 30px;
}

.search-input {
    background-color: rgb(255, 94, 0);
    box-shadow: 0 2px 4px 0 rgba(34, 34, 34, 0.651), 0 6px 20px 0 rgba(160, 53, 53, 0.705);
    border-radius: 15px;
    width: 380px;
    height: 30px;
    padding: 15px;
    color: #ffffff;
}

.search-label-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 190px;
    margin-right: 33%; */
}

.search-label {
    color: rgb(255, 94, 0) !important;
    font-size: 30px;
    text-shadow: 0 2px rgba(153, 153, 153, 0.904);
}