$white: #fff;
$black: #000;
$mat-black: #263238;
$light-black: #38474f;
$light-blue: #c3eaff;
$color-primary: #258df2;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary: #40c741;
$color-body-bg: #fbfcfd;
$color-bg-white: #fff;
$color-warning: #fdba2c;
$color-danger: #e64043;
$color-green: #2bcdbd;
$color-purple: #e884f9;