.track_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal {
    display: block;
    margin-top: 20%;
    width: 30%;
    background-color: rgb(252, 160, 160);
    margin-left: 37%;
}