body {
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    font-family: 'akzidenz', "helvetica neue", helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 416px;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(255, 94, 0);
}

.app-container {
    height: 100%;
    zoom: 80%;
}